<div>
    <div class="mb-5 flex justify-between items-center hover-effect">
        <div>
            <p class="medicine-name">Cefuroxime 5ml</p>
            <p class="medicine-info">1 Morning, before meals, 3 days</p>
        </div>
        <button mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="mb-5 flex justify-between items-center hover-effect">
        <div>
            <p class="medicine-name">Melphalan 250ml</p>
            <p class="medicine-info">1 Morning, before meals, 3 days</p>
        </div>
        <button mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <button class="add-custom-btn w-full" mat-stroked-button (click)="addMedication()">Add Medication</button>

</div>