.not-select-btn {
	border: 1px solid #bbc4ca;
	background: #ffffff;
	color: #2c3a42;
}

.select-btn {
	border: 1px solid #f7bcc6;
	background: #fff2f4;
	color: #e02e40;
}

.bg-connect {
	background: #2c3a42;
}

.start-session {
	background: #2c3a42;
	color: #ffffff;
}
