<form [formGroup]="form" class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-32" src="assets/img/favicon.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Welcome back</h2>
      <h4 class="body-2 text-secondary m-0">Log In To Flash Health Doctor.</h4>
    </div>

    <div class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Mobile Number</mat-label>
          <input formControlName="phoneNumber" placeholder="01XXXXXXXXX" matInput required>
          <mat-error *ngIf="form.get('phoneNumber').hasError('required')">We need an phone number to log you in
          </mat-error>
          <mat-error *ngIf="form.get('phoneNumber').hasError('pattern')">Mobile Number is <strong>Invalid</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Password</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Click the eye to toggle visibility</mat-hint>
          <mat-error *ngIf="form.get('password').hasError('required')">We need a password to log you in</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- <mat-checkbox class="caption" color="primary">Remember Me</mat-checkbox> -->
        <a [routerLink]="['/forgot-password']" class="caption">Forgot Password?</a>
      </div>

      <button [disabled]="isLoading || form.invalid" (click)="send()" type="submit" color="primary" mat-raised-button
        type="button">
        <span *ngIf="!isLoading">SIGN IN</span> <span *ngIf="isLoading">Loading...</span>
      </button>

      <p class="text-secondary text-center">
        Don't have an account?<br />
        <a [routerLink]="['/register']">Click here to create one</a>
      </p>
    </div>
  </div>
</form>